@import url('https://fonts.googleapis.com/css2?family=Jura&family=Merriweather:wght@300&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #FFFFFD;
}

#logo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 24px;
    float: left;
    margin-left: 5%;
}

#logoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 24px;
    float: left;
}

#menu {
    font-family: Jura;
    font-size: 16px;
    color: #61514B;
    float: right;
    margin-right: 5%;
}

#logo,
#logoTwo,
#menu {
    line-height: 8vh;
}

.mainText {
    padding-top: 20vh;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    margin-left: 15%;
}

#queueNumber {
    color: #07485A;
    font-family: Merriweather, Arial;
    font-size: 200px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.prevButton {
    font-family: Jura;
    background-color: #FFFFFD;
    color: #027E88;
    border: 1px solid #027E88;
    padding: 10px 45px;
    text-align: center;
    display: inline-block;
    font-size: 64px;
    margin: 15px;
}

.nextButton {
    font-family: Jura;
    background-color: #027E88;
    color: #FFFFFD;
    border: 1px solid #FFFFFD;
    padding: 10px 45px;
    text-align: center;
    display: inline-block;
    font-size: 64px;
    margin: 15px;
}

.currentlyText {
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    margin-left: 15%;
    margin-top: 10vh;
}

#currentlyNumber {
    color: #07485A;
    font-family: Merriweather, Arial;
    font-size: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.buttonRow {
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetButton {
    font-family: Jura;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #F44D29;
    background-color: #FFFFFD;
}

footer {
    height: 150px;
    margin-top: 20vh;
}

.socialNetwork {
    text-align: center;
}

.socialNetwork>li {
    display: inline;
}

.socialNetwork i {
    font-size: 20px;
    padding: 1%;
    color: #61514B;
    background-color: #FFFFFD;
}

.copyRight {
    margin: auto;
    text-align: center;
    padding: 9px;
    color: #61514B;
    font-family: Merriweather, Arial;
    font-size: 13px;
}


/* Login form */

.logo {
    margin: auto;
    text-align: center;
    padding-top: 20vh;
    float: left;
    margin-left: 50%;
}

#mainLogo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 40px;

}

#mainLogoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 40px;

}


.login-section {
    clear: both;
    text-align: center;


}

.aligned {
    font-family: Jura;
    font-size: 20px;
    /* float: left; */
    width: 150px;
    color: #61514B;
    padding-right: 28%;
}

input[type=text] {
    border: 1.5px solid #027E88;
    background-color: #FFFFFD;
    padding: 5px 20px;
    margin-bottom: 50px;
    margin-top: 10px;
    width: 35%;
    font-size: 16px;
}

.login {
    font-family: Jura;
    font-size: 20px;
    color: #FFFFFD;
    background-color: #027E88;
    padding: 16px 32px;
    margin: auto;
    text-align: center;
    clear: both;
}