@import url('https://fonts.googleapis.com/css2?family=Jura&family=Merriweather:wght@300&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #FFFFFD;
}


/* Business Html  */
/* Business Heading  */
.headLine {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    padding-top: 3vh;
}

#logo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 24px;
}

#logoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 24px;

}

#urlInfo {
    margin-left: 25%;
    font-family: 'Jura';
    font-size: 16px;
    color: #027E88;
}


/* FOOTER TRY */

/* .footLine {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
} */

.footLine {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    padding-top: 3vh;
}

#businessLogo {
    color: #61514B;
    font-family: Jura;
    font-size: 16px;
    text-transform: uppercase;

}

#log {
    margin-left: 41%;
    display: inline-block;
}




.logOut {
    font-family: Jura;
    font-size: 16px;
    background-color: #FFFFFD;
    margin-left: 25%;
    color: #027E88;
    /*border: 1px solid #027E88; */
    padding: 3px 6px;
}

/* .mainText {
    padding-top: 10%;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    margin-right: 30%;
    text-align: center;
} */

.mainText {
    padding-top: 5vh;
    padding-bottom: 1vh;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    position: relative;
    left: 50%;
    transform: translate(-150px);
}

#queueNumber {
    color: #07485A;
    font-family: Merriweather, Arial;
    font-size: 150px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

/* Button Row  */


/* .buttonRow {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    display: flex;
} */

.buttonRow {
    margin-bottom: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevButton {
    font-family: Jura;
    background-color: #FFFFFD;
    color: #027E88;
    border: 1px solid #027E88;
    padding: 5px 34px;
    text-align: center;
    display: inline-block;
    font-size: 64px;
    margin: 15px;
}

.nextButton {
    font-family: Jura;
    background-color: #027E88;
    color: #FFFFFD;
    border: 1px solid #FFFFFD;
    padding: 5px 34px;
    text-align: center;
    display: inline-block;
    font-size: 64px;
    margin: 15px;
}

.resetButton {
    font-family: Jura;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #F44D29;
    background-color: #FFFFFD;
}

/* Login Html  */
/* Login Heading  */

.logo {
    margin-left: 70%;
    text-align: center;
    padding-top: 3vh;
}

#mainLogo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 40px;
}

#mainLogoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 40px;
}

.messages {
    font-family: Jura;
    font-size: 12px;
    color: #F44D29;
    margin-bottom: 15px;
    text-align: center;
}

input[type=text] {
    border: 1.5px solid #027E88;
    background-color: #FFFFFD;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 180px;
    font-size: 16px;
}

input[type=password] {
    border: 1.5px solid #027E88;
    background-color: #FFFFFD;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 180px;
    font-size: 16px;
}

.login {
    font-family: Jura;
    font-size: 20px;
    color: #FFFFFD;
    background-color: #027E88;
    padding: 16px 20px;
    margin: auto;
    text-align: center;
    clear: both;
    margin-top: 50px;
}

.noAccount {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-top: 16px;
}

/* POP UP BOX */

#confirm {
    display: none;
    background-color: #FFFFFD;
    color: #61514B;
    top: 21%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #027E88;
    height: 320px;
    width: 240px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#confirm button {
    padding: 5px;
    position: relative;
    transform: translate(-50%, 0%);
    background-color: #FFFFFD;
    color: #61514B;
    left: inherit;
    font-family: Jura;
    font-size: 16px;
}


#confirm .message {
    padding: 20px;
    text-align: left;
    position: relative;
    font-family: Jura;
}

#confirm #qrcode {
    padding-left: 70px;
    text-align: center;
    position: relative;
}

#confirm .url {
    font-size: 9px;
    padding-top: 1vh;
    padding-left: 50px;
    padding-right: 50px;
}

/* Register Html  */
/* Register Heading  */

.logoBig {
    text-align: center;
    padding-top: 15vh;
}


#mainLogo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 40px;
}

#mainLogoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 40px;
}

.formInfo {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-top: 16px;
    text-align: center;
}

.joinUs {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-bottom: 5px;
    text-align: center;
}

.login-section {
    clear: both;
    text-align: center;
    margin-top: 50px;

}

.messages {
    font-family: Jura;
    font-size: 12px;
    color: #F44D29;
    margin-bottom: 15px;
    text-align: center;
}

.aligned {
    font-family: Jura;
    font-size: 20px;
    color: #61514B;
}

.noAccount {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-top: 16px;
}

.register {
    font-family: Jura;
    font-size: 16px;
    color: #61514B;
    margin-top: 15px;
    text-align: center;
}


/* User Html  */
/* User Heading  */

.logoLine {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    padding-top: 3vh;
}

#myLogo {

    color: #027E88;
    font-family: Poiret One;
    font-size: 24px;
    text-align: center;

}

#myLogoTwo {

    color: #F44D29;
    font-family: Poiret One;
    font-size: 24px;
    margin-right: 30%;
    text-align: center;
}

.currentlyText {
    padding-top: 15vh;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    margin-right: 30%;
    text-align: center;
}

.textOne {
    padding-top: 5vh;
    padding-bottom: 1vh;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    position: relative;
    left: 50%;
    transform: translate(-150px);
}

.textTwo {
    /* padding-top: 2vh;
    padding-bottom: 4vh; */
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    position: relative;
    left: 50%;
    transform: translate(-150px);
}

#textThree {
    color: #07485A;
    font-family: Merriweather, Arial;
    font-size: 100px;
    margin: auto;
    text-align: center;
    padding: 10px;

}

.textFour {
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
    /* align-items: center;  */

}


footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.socialNetwork {
    text-align: center;
}

.socialNetwork>li {
    display: inline;
}

.socialNetwork i {
    font-size: 14px;
    padding: 1%;
    color: #61514B;
}

.copyRight {
    margin: auto;
    text-align: center;
    color: #61514B;
    font-family: Merriweather, Arial;
    font-size: 13px;
}


.footerImage {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.footerImage img {
    max-width: 100vw;
    max-height: 50vh;
}

.info {
    font-family: Merriweather, Arial;
    font-size: 14px;
}


p {
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 50%;
    }

    to {
        margin-left: 0%;
        width: 50%;
    }
}