<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <title>DontQ</title>
</head>

<body>
    <header>
        <!-- Top section -->

        <div class="headLine">
            <span id="logo">Dont</span>
            <span id="logoTwo">Q</span>

            <!-- <span id="urlInfo">User URL</span> -->
        </div>
        <div class="info">
            <div id="confirm">
                <button class="yes"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                <div class="message">For your clients to receive tickets, they need to load the 
                    below URL. An easy way to achive this is to place a copy of the OR code in your shop.
                </div>
                <div id="qrcode"></div>
                <div class="url">

                    
                </div>
            </div>
        </div>
        <script>
            $("#confirm").hide();
            function functionAlert(url) {
                var confirmBox = $("#confirm");
                confirmBox.find(".url").text(url);
                //new QRCode(document.getElementById("qrcode"), url);
                document.getElementById("qrcode").innerHTML = ""
                new QRCode(document.getElementById("qrcode"), {
                    text: url,
                    width: 100,
                    height: 100,
                    colorDark: "#61514B",
                    colorLight: "#fffffd",
                    correctLevel: QRCode.CorrectLevel.H
                });
                var myYes = confirmBox.find(".yes");
                myYes.on('click', function () {
                    confirmBox.hide();
                });
                //myYes.click(myYes);
                confirmBox.show();
            }
        </script>
        <div class="mainText">{{ text }}</div>

        <!-- Middle section -->
        <div id="queueNumber">{{ current }}</div>

        <div class="buttonRow">
            <form action="#" method="get">
                <input type="submit" class="prevButton" value="&lt;" name="mybtn">
                {% csrf_token %}
            </form>

            <form action="#" method="get">
                <input type="submit" class="nextButton" value="&gt;" name="mybtng">
                {% csrf_token %}
            </form>
        </div>

   
        <div class="buttonRow">
            <form action="#" method="get">
                <input type="submit" class="resetButton" value="Reset" name="myreset">
                {% csrf_token %}
            </form>
        </div>
    
    </header>
<!-- bottom section -->
    <!-- Footer for business input -->
    <footer>
        <ul class="businessInput">
            <li>
                <a id="businessLogo" href="/update" class="register">{{businessname}}</a>
            </li>
            <li>
                <span id="urlInfo" onclick="{{userurl}}">
                    <span class="urlInfo">Url <i class="fa fa-qrcode" aria-hidden="true"></i>
                    </span>
                </span>
            </li>
            <span id="log">
                <form action="#" method="get">
                    <input type="submit" class="logOut" value="LogOut" name="mylogout">
                    {% csrf_token %}
                </form>
            </span>
        </ul>
        <!-- <div class="copyRight">&copy; Copyright 2022: DontQ </div> -->


        <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
</body>

</html>