<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>DontQ</title>
</head>

<body>
    <header>

        <div class="logoBig">
            <span id="mainLogo">Dont</span><span id="mainLogoTwo">Q</span>
        </div>

        <section class="login-section">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            <form method="POST" action="">
                {% csrf_token %}

                <div>
                    <label for="business" class="aligned"> Business</label>
                </div>
                <div>
                    <input type="text" id="business" name="username" value="" required>
                </div>
                <div>
                    <label for="password" class="aligned"> Password:</label>
                </div>
                <div>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit" value="Login" class="login">Log in
                </div>
            </form>

            <div class="noAccount">No account</div>
            <a href="/register" <div class="register">Register Here</div> </a>

        </section>

        </div>

    </header>
</body>


</html>