<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>DontQ</title>
</head>

<body>
    <header>
  
        <div class="logo">
            <div id="mainLogo">Dont</div>  
            <div id="mainLogoTwo">Q</div>
        </div>
    
        <section class="login-section">
            <form action="/action_page.php">
                <p>
                    <label for="business" class="aligned">Business:</label>
                </p>
                <p>
                    <input type="text" id="business" namegit="business" required>
                </p>
                <p>
                    <label for="username" class="aligned">Username:</label>
                </p>
                <p>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password" class="aligned">Password:</label>
                </p>
                <p>
                    <input type="text" id="password" name="password" required>
                </p>
                <p>
                    <input type="submit" value="Login" class="login">
                </p>
            </form>
        </section>

        </div>

    </header>
</body>


</html>