<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DontQ</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Jura&family=Varela+Round&display=swap');

    body {
        background-color: white;
    }

    h2 {
        color: black;
    }

    h1 {
        color: grey;
        font-family: Varela Round, Arial;
        font-size: 120px;
    }

    p {
        color: black;
    }
</style>

<body>
    <header>
        <center>
            <h2>Buissnes:</h2>

            <p>Username:</p>
            <p>Password:</p>

            Login
        </center>
    </header>
</body>


</html>