<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="2" />   -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>DontQ</title>
</head>

<body>
    <header>
        <div id="holePage">
            <!-- Top section -->

            <div class="logoLine">
                <span id="logo">Dont</span><span id="logoTwo">Q</span>
            </div>

            <div class="textOne">{{ current }} </div>

            <!-- Middle section -->
            <div class="textTwo"> {{ticketText}}</div>
            <div id="textThree">{{ ticket }} </div>
        </div>
        </div>

        <p>___________________________</p>
        <!-- bottom section -->

        <div class="textFour"> {{ remaining }} </div>
        </div>

        </div>
    </header>
<!--
    <div class="footerImage">
        <img src="static/images/ground.png" alt="people queing">
    </div>
    -->
    <div class="footerImage">
        <img src="static/images/image.png" alt="people queing">
    </div>
    <footer>
        <ul class="socialNetwork">
            <li>
                <a href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa fa-twitter"
                        aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube page (opens in a new tab)"><i class="fa fa-facebook"
                        aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        <div class="copyRight">&copy; Copyright 2022: DontQ </div>



    </footer>

    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
</body>

</html>