@import url('https://fonts.googleapis.com/css2?family=Jura&family=Merriweather:wght@300&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #FFFFFD;
}

.background {
    background: url(../images/image.png) no-repeat center bottom;
    background-attachment: fixed;
}


/* Business Html  */
.headLine {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    padding-top: 3vh;
    width: 300px;
}

#logo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 24px;
}

#logoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 24px;

}

#urlInfo {
    padding-left: 10px;
    font-family: 'Jura';
    font-size: 14px;
    color: #027E88;
}

.footLine {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    padding-top: 3vh;
    width: 300px;
}

#businessLogo {
    color: #027E88;
    font-family: Jura;
    font-size: 14px;
    text-transform: capitalize;

}

#log {
    display: inline-block;
}

.logOut {
    font-family: Jura;
    font-size: 14px;
    background-color: #FFFFFD;
    padding-left: 10px;
    color: #027E88;

}

.mainText {
    padding-top: 5vh;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    position: relative;
    left: 50%;
    transform: translate(-150px);
    width: 300px;
    height: 50px;
}

#queueNumber {
    color: #07485A;
    font-family: Merriweather, Arial;
    font-size: 130px;
    text-align: center;
}

.buttonRow {
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevButton {
    font-family: Jura;
    background-color: #FFFFFD;
    color: #027E88;
    border: 1px solid #027E88;
    padding: 0px 34px;
    text-align: center;
    display: inline-block;
    font-size: 64px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.nextButton {
    font-family: Jura;
    background-color: #027E88;
    color: #FFFFFD;
    border: 1px solid #FFFFFD;
    padding: 0px 34px;
    text-align: center;
    display: inline-block;
    font-size: 64px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.resetButton {
    font-family: Jura;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #F44D29;
    background-color: #FFFFFD;
}

.deleteButton {
    font-family: Jura;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #F44D29;
    background-color: #FFFFFD;
    display: inline;
}

.save {
    font-family: Jura;
    font-size: 20px;
    color: #FFFFFD;
    background-color: #027E88;
    padding: 16px 20px;
    margin: auto;
    text-align: center;
    clear: both;
    margin-top: 20px;
}

.businessInput {
    text-align: center;
}

.businessInput>li {
    display: inline;
}

.businessInput i {
    font-size: 14px;
    padding-bottom: 5px;
    color: #027E88;
}

/* Login Html  */
.logo {
    margin-left: 70%;
    text-align: center;
    padding-top: 3vh;
    display: flex;
}

#mainLogo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 40px;
}

#mainLogoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 40px;
}

.messages {
    font-family: Jura;
    font-size: 12px;
    color: #F44D29;
    margin-bottom: 15px;
    text-align: center;
}

input[type=text] {
    border: 1.5px solid #027E88;
    background-color: #FFFFFD;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 180px;
    font-size: 16px;
}

input[type=password] {
    border: 1.5px solid #027E88;
    background-color: #FFFFFD;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 180px;
    font-size: 16px;
}

.login {
    font-family: Jura;
    font-size: 20px;
    color: #FFFFFD;
    background-color: #027E88;
    padding: 16px 20px;
    margin: auto;
    text-align: center;
    clear: both;
}

.noAccount {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-top: 16px;
}

/* Pop Up Info Box */
#confirm {
    display: none;
    background-color: #FFFFFD;
    color: #61514B;
    top: 25%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #027E88;
    height: 320px;
    width: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#confirm button {
    padding: 5px;
    position: relative;
    transform: translate(-50%, 0%);
    background-color: #FFFFFD;
    color: #61514B;
    left: inherit;
    font-family: Jura;
    font-size: 16px;
}

#confirm .message {
    padding: 20px;
    text-align: left;
    position: relative;
    font-family: Jura;
}

#confirm #qrcode {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#confirm .url {
    font-size: 9px;
    padding-top: 110px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Register Html  */
.logoBig {
    text-align: center;
    padding-top: 15vh;
}

#mainLogo {
    color: #F44D29;
    font-family: Poiret One;
    font-size: 40px;
}

#mainLogoTwo {
    color: #027E88;
    font-family: Poiret One;
    font-size: 40px;
}

.formInfo {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-top: 16px;
    text-align: center;
}

.joinUs {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-bottom: 5px;
    text-align: center;
}

.login-section {
    clear: both;
    text-align: center;
    margin-top: 10px;

}

.messages {
    font-family: Jura;
    font-size: 12px;
    color: #F44D29;
    margin-bottom: 15px;
    text-align: center;
}

.aligned {
    font-family: Jura;
    font-size: 20px;
    color: #61514B;
}

.noAccount {
    font-family: Jura;
    font-size: 14px;
    color: #61514B;
    margin-top: 16px;
}

.register {
    font-family: Jura;
    font-size: 16px;
    color: #61514B;
    margin-top: 15px;
    text-align: center;
}

/* User Html  */
.logoLine {
    position: relative;
    left: 50%;
    transform: translate(-150px);
    padding-top: 3vh;
    width: 300px;
}

#myLogo {

    color: #027E88;
    font-family: Poiret One;
    font-size: 24px;
    text-align: center;

}

#myLogoTwo {

    color: #F44D29;
    font-family: Poiret One;
    font-size: 24px;
    margin-right: 30%;
    text-align: center;
}

.currentlyText {
    padding-top: 15vh;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    margin-right: 30%;
    text-align: center;
}

.textOne {
    padding-top: 5vh;
    padding-bottom: 1vh;
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    position: relative;
    left: 50%;
    transform: translate(-150px);
    width: 300px;
}

.textTwo {
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    position: relative;
    left: 50%;
    transform: translate(-150px);
    width: 300px;
}

#textThree {
    color: #07485A;
    font-family: Merriweather, Arial;
    font-size: 100px;
    margin: auto;
    text-align: center;

}

.textFour {
    font-size: 20px;
    font-family: Jura;
    color: #61514B;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.socialNetwork {
    text-align: center;
}

.socialNetwork>li {
    display: inline;
}

.socialNetwork i {
    font-size: 14px;
    padding: 1%;
    color: #61514B;
}

.copyRight {
    margin: auto;
    text-align: center;
    color: #61514B;
    font-family: Merriweather, Arial;
    font-size: 13px;
}

.footerImage {
    height: 190px;
    width: 100%;
}


.footerImage {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
}

.footerImage img {
    max-width: 100vw;
    max-height: 50vh;
}

.info {
    font-family: Merriweather, Arial;
    font-size: 14px;
}